@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

      /* HEADER */
.header {
  position: relative;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1;
}

.logo{
  width: 182px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  position: relative;
  display: flex;
  width: 730px;
  height: 100%;
  align-items: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 2;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
  transition: 1s;
}

.header__link:hover{
  opacity: 0.4;
}

.header__main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  animation: rotation 20s infinite linear;
  top: 64px;
  right: 0;
  z-index: -1;
}
  

/* Description */

.description{
  padding-top: 100px;
}

.two-columns{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main_text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.two-columns__paragraph:nth-child(2){
  padding-top: 30px;
  padding-bottom: 30px;
}

.two-columns__span-accent{
  font-weight: 700;
  margin: 0;
}

      /* Techniques */

.techniques{
  width: 80%;
  margin: auto;
}

.cards{
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cards__item{
  flex-basis: 240px;
  padding-top: 60px;
}

.card__item_indent{
  margin: 0 100px;
}

.cards__image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 0 40px;
}

.cards__title{
  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin: 43px 0 0 0;
}

.cards__description{
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin: 16px 0 0 0;
}

      /* Video */

.video{
  height: 432px;
  margin-left: auto;
  margin-right: auto;
}

.video__iframes{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.video__iframe{
  padding-right: 20px;
}

      /* Oakley */

.oakley{
  background-color: #f2f2f2;
  padding-top: 160px;
  margin-left: auto;
  margin-right: auto;
}

      /* Feynman */

.feynman{
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  padding-top: 80px;
  z-index: 1;
}

.feynman__title{
  width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0 auto;
}

.feynman__subtitle{
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 70px;
}

.feynman__link{
  position: absolute;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  transition: 1s;
  right: 48px;
  top: 50%;
}

.feynman__link:hover{
  opacity: 0.4;
}

.feynman__background{
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
}


      /* Digits */

.digits{
  margin: 0 auto 100px;
}

      /* Ключ для 2 блоков digits и kaufman */
.section-title{
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 100px auto 20px auto;
}

.section-subtitle{
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 auto 0 auto;
}

/* Ключ для флекс таблиц */
.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.table__cell{
  width: 250px;
  padding-top: 60px;
}

.table__heading{
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.table__text{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  padding-top: 20px;
  margin: 0;
}

      /* Khan */

.khan{
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container{
  width: 80%;
  margin: auto;
}

.khan__author{
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  margin: 0;
}

.khan__title{
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.khan__quote{
  width: 790px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 50px 0 36px;
}

.khan__quote-author{
  font-style: normal;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 10px;
}

.khan__quote-author-subline{
  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0;
}

.khan__book-container{
  padding-top: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
  padding-right: 48px;
}

.khan__buy-link{
  text-decoration: none;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  transition: 1s;
}

.khan__buy-link:hover{
  opacity: 0.4;
}
      /* Kaufman */

.kaufman{
  position: relative;
  color: #f2f2f2;
  background-color: #1f1f1f;
  overflow: hidden;
  padding: 90px 0;
  z-index: 1;
}

.section-title_theme_dark{
  margin: 0 auto;
}

.section-subtitle_theme_dark{
  padding-top: 20px;
}

.tale__cell_theme_dark{
  width: 200px;
  padding-top: 80px;
}

.kaufman__triangle{
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  animation: rotation 20s infinite linear;
  top: 0px;
  right: -210px;
  z-index: -1;
}

      /* Resources*/

.resources{
  margin: auto;
}

.resources__logo-zone{
  width: 1100px;
  margin: auto;
}

.resources__logo{
  width: 270px;
  height: 38px;
  margin: 80px 0 217px;
  transition: 1s;
}

.resources__logo:hover{
  opacity: 0.4;
}


      /* Footer */
      
.footer{
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__column-heading{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  padding: 20px 0 16px 0px;
  margin: 0;
}

.footer__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__column-link{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #f2f2f2;
  transition: 1s;
  padding: 0;
}

.footer__column-link:hover{
  color: #2f80ed;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  transition: 1.5s;
  padding-right: 10px;
}

.footer__social-icon:hover{
  opacity: 0.3;
}